  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

  * {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      font-style: normal;
      color:white;
  }

  nav ul li {
      padding-left: 10px;
  }

  .navbar-brand {
      font-size: 1.8rem;
  }

  nav {
      background-color: transparent;
  }

  body{
      background-image: url("program.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
  }
  *::selection{
    background:black;
  }
  img{
    user-select: none;
  }
  .col-md-3 p{
    color:lightgray;
  }
  .col-md-3 img{
    padding-bottom:20px;
  }
  @media screen and (max-width: 768px) {
    .container p{
        padding-top:50px;
    }
  }
  .img{
    height:80vh;
  }
  a{
    color:white;
    text-decoration: none;
  }
a:hover{
    color:white;
    text-decoration: none;
}
.link:hover{
    color:rgb(61, 61, 238);
}